.app {
    text-align: left;
    padding: 20px;
    position: absolute;
    right: 16.5%;
    top: 89%;
  }

  .app h3{
    position: relative;
    top: -80px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .event-card {
    display: inline-block;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .event-details {
    padding: 15px;
    text-align: left;
  }
  
  .event-details h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .event-details p {
    margin: 5px 0;
  }
  
  .spa {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
  }
  
  .spa button {
    padding: 8px 20px;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
  }
  .int {
    margin-right: 7px; /* Adjust the margin as needed */
  }
  .da{
    color: rgba(99, 191, 76, 1);
  }

  .spa :hover{
    background-color:   rgb(115, 252, 81);;
  }
 .space{
   position: relative;
   top: -68px;
    
 }
 


 
  